::selection {
    background: grey;
    color: white;
}

#contentContainer {
    width: 375px;
    height: 650px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    right: 50px;
    display: none;
    background-color: ghostwhite;
    border-width: 2px;
    border-color: antiquewhite;
    border-style: ridge;
    border-bottom: none;
}

#header {
    width: 100%;
    height: 115px;
    padding-right: 5px;
}

#botavatar {
    display: none;
}

.collapseButton {
    position: absolute;
    top: 10px;
    right: -10px;
    padding: 0px !important;
    margin: 0px !important;
}

.image-cropper {
    height: auto;
    position: absolute;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
}

.rounded {
    display: block;
    margin: 0 auto;
    height: 140px;
    width: 140px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: url("../Content/GIF-2018-10-23-08-51-54.gif") center no-repeat;
    background-size: cover;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .5);
    margin: 8px;
}

.wc-suggested-actions .wc-hscroll > ul > li button {
    background-color: white;
    color: #F37320;
    min-height: 32px;
    border-color: #F37320;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
}

    .wc-suggested-actions .wc-hscroll > ul > li button:hover {
        background-color: #F37320;
        color: white;
        min-height: 32px;
        border-color: #F37320;
        overflow: hidden;
        padding: 0 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 5px;
    }

#frameContainer {
    width: 100%;
    height: calc(100% - 115px);
}

.wc-header {
    background-color: #d8dee1 !important;
    display: none;
}

    .wc-header span {
        color: black;
        display: none;
    }

.wc-chatview-panel {
    top: 115px !important;
}

.wc-message-from-me svg.wc-message-callout path {
    fill: darkgray !important;
}

.wc-message-from-me .wc-message-content {
    background-color: darkgray;
    color: #ffffff;
}

.wc-message-from-me.wc-message-from, .wc-message-from {
    display: none;
}

.wc-upload svg {
    display: none;
}

.wc-textbox {
    bottom: 0;
    left: 10px;
}

.ac-container div {
    white-space: inherit !important;
    font-family: Arial !important;
}

.ac-pushButton {
    white-space: inherit !important;
}

.wc-card button {
    background-color: white;
    color: #F37320;
    min-height: 32px;
    border-color: #F37320;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
    /* width: auto !important; */
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

    .wc-card button:hover {
        background-color: #F37320;
        color: white;
        min-height: 32px;
        border-color: #F37320;
        overflow: hidden;
        padding: 0 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
    }

.wc-app {
    font-family: Arial !important;
}

    .wc-app button {
        font-family: Arial !important;
    }


.wc-adaptive-card {
    max-width: 600px !important;
    width: 100% !important;
}

.header .button {
    padding-top: 3px !important;
    padding: 0 10px;
    font-size: 12px;
    font-family: 'Franklin Gothic Book';
    line-height: 1.5;
    height: 25px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #F37320 !important;
    margin-right: 5px;
    background-color: white;
    border: 1px solid;
}

    .header .button:hover {
        padding-top: 3px !important;
        padding: 0 10px;
        font-size: 12px;
        font-family: 'Franklin Gothic Book';
        line-height: 1.5;
        height: 25px;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        color: white !important;
        margin-right: 5px;
        background-color: #F37320;
        /*border: 2px solid;
        border-color: #F82720;*/
        /*color: white !important;*/
    }

.header h1 {
    color: black;
    font-size: 13pt;
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: bold;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}

.header h2 {
    margin-top: 0px;
    color: black;
    font-size: 11pt;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
    font-family: Helvetica, sans-serif
}

.header img {
    float: left;
    height: auto;
    width: auto;
    max-height: 80%;
    max-width: 80%;
    border: none;
    padding-right: 20px !important;
    margin-top: 12px;
    margin-left: 12px;
}

.header p {
    color: black;
    font-size: 11pt;
}

.header {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #d8dee1;
    border-bottom-width: 5px;
}

.logo {
    padding: 0px !important;
    height: 115px !important;
}

.headerMask {
    float: left;
    height: 115px;
}

hr {
    height: 1px;
    background-color: black;
}

html {
    height: 100%;
    min-height: 300px;
    min-width: 300px;
}

body {
    height: 100%;
    font-family: Arial !important;
    font-size: 14px !important;
}

.wc-message-groups {
    bottom: 60px;
    left: 0;
    transform: translateY(0);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 38px;
    transition: transform 0.2s cubic-bezier(0, 0, 0.5, 1);
}

iframe {
    border-width: 0px;
}

.wc-suggested-actions button.scroll {
    background-color: white;
    height: 40px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 28px;
    margin-top: 8px;
}
    /*.wc-suggested-actions button.scroll:hover {
        background-color: #dbdee1;
    }*/
    .wc-suggested-actions button.scroll svg {
        fill: #F37320;
    }

.wc-hscroll {
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 5px;
}

.wc-message-pane.show-actions .wc-suggested-actions {
    height: 50px;
    background-color: #dbdee1;
    padding-top: 4px;
}

.wc-message-wrapper {
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-name: zoomIn;
    transform-origin: bottom center;
}

.wrapper-from-me {
    transform-origin: bottom center;
}

@Keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

a:link {
    color: red !important;
}

a {
    color: red !important;
}

/* fix slightly oversize area */
.wc-console textarea, .wc-console input {
    background-color: rgba(0,0,0,0) !important;
}

/* fix ie issue */
.wc-carousel li p {
    min-height: 1em;
}

/*Typing .gif back stop default*/
.wc-typing {
    background-image: url("data:image/gif;base64,R0lGODlhQAAYAPYBAOzv8evu8Ort7+fq7Ons7ujr7eXo6uTn6ebp6+Xn6ebo6uzu8OPm6OTm6OPm5+Tn6N/i4+Ll59/i5N7h4+Hk5uDj5evu7+Hk5d/h49PV18PFx7/BwsfJysXHyMLExdja3Nfa28vNz72/wL7Awc/S08TGyMDCw9TW2NbY2t3g4trd39bZ2szO0M7Q0dnb3djb3Nvd39ve4Nnc3dze4Nrc3t7g4tzf4dXX2d3f4d7h4tnc3tve383P0MrMzs7Q0sjKzNLU1s/R08jKy9DT1NfZ293g4efp68bIyby+v9bZ27q8vdHT1c7R0uvt78nLzM/R0tjb3ens7bO0tbS2t7GztK+xsrW3uK6vsLe4utfa3L/Awtzf4MnLzamqq5WWl66wsbm7vNrd3uXo6a2ur6yurp2en6KjpKusrZ+goKeoqers7urt7peXmIGBgYSEhHx8fJmamqipqnZ2doqLi8XHyY2NjpGSkpOUlJiYmZOTlI+QkJqbm4eIiJucnIuMjP///yH/C05FVFNDQVBFMi4wAwEAAAAh/wtYTVAgRGF0YVhNUDw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MEY0RUJCMDNENkM4MTFFNkI5RENGRDgzMjAyQjU3QzUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MEY0RUJCMDRENkM4MTFFNkI5RENGRDgzMjAyQjU3QzUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDowRjRFQkIwMUQ2QzgxMUU2QjlEQ0ZEODMyMDJCNTdDNSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDowRjRFQkIwMkQ2QzgxMUU2QjlEQ0ZEODMyMDJCNTdDNSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAUOAAEAIf4YT3B0aW1pemVkIHdpdGggZXpnaWYuY29tACwAAAAAQAAYAAACJoSPqcvtD6OctNqLs968+w+G4kiW5omm6sq27gvH8kzX9o3n+l0AACH5BAUHAAAALD4ACQACAAYAAAIERI5oBQAh+QQFBwAOACwsAAcAFAAJAAAEJRDISZetmJQ9uhcZyClGSY4hYjbHKqYs06ooLLuBPeM6b2u1SgQAIfkEBQcADQAsGAAHACUACQAABlFAgHAYKBqJyKRS+ahMchKnoSBYWq0Mp+rzimEiiUH1SjaCd64VioaTEo5lbA3GvaWjCmpcfnl27TZ4ent8Mmo6KW6EhXSIEGCDi4VZCG+SSUEAIfkEBQcABgAsEQAHABcACQAAB0aAAIKDAoSGh4RELD8sHwkBiJEoIUKVPSAHkJGJQZaWNQSbnJ6VMAOigzI8pDwxp6gCKUOMnhKFsAgvi59GuKkZPhkTBb6BACH5BAUHAAQALA8ABwANAAkAAAYsQICwYAgMj0LWZokSIAedpTSDREmvxaHyyjy2uN2hCqwZVLmqp2DF0bAkzyAAIfkEBRUABQAsDgAHAAoACQAABidAgDBgGAyHH5NoyUAunxuEcANdkqbVJTa7hZ6EkFFVcAx5ShmCMAgAIfkEBQcAAAAsLAAHABAACQAABC0QyClXpZWUwbsOU/AhSWmQGyiOB+Mq3rJ6zosKM22n+d2YqQzvBOOFcMOgJAIAIfkEBQcAAwAsIQAHABsACQAAB0yAAIKDAgGEh4iJKStLGTARBYmShDgoJEyYNBSRk4ouQJiZNQeFnYc5II2hJzMOBKanH6qiDK+wlBlBqxMGhreDE6m0Ub+xjBi9xYKBACH5BAUHAAYALB0ABwAQAAkAAAc+gACCAgoFg4eIGSNKSj0MiIckjJNHB5AAEiaTkzcBkC8im4w8BJ+hoj6lkBqiSC+XAUmnowOwsT8bJSiGl4EAIfkEBQcAAgAsHAAHAAsACQAABy2AAIIGDIOGRVhXijeHVYqPjIIej5QBglKUjweXmYoIkp0ClpyVhghCiRoUhoEAIfkEBRUAAgAsGwAHAAoACQAAByyAAIKCB4ODMlNkijKHY4qPMIJgj49ggpSUAQBXmIqSnRuEVJgMhiWJJQmCgQAh+QQFBwAAACwxAAcADQAJAAAEJRDICQKdgQyktrBS5h0G91WfSXYaWqjrK8rx6LL1cpf8GaY2SQQAIfkEBQcABgAsKwAHABMACQAABzyAAIKDBISGhzwbSB4ZCIeIIouLQI6PgjcmkpI4AZYDJCOak4WWQ1qiJi8Cnh8eqBiel6GbpLEgHIycsYEAIfkEBQcAAgAsKQAHAA0ACQAABzyAAIIBEhQBg4gBXHh1dWUZiQCLjZQriWWUlF2Hghh2mY14A4MVn6B7UYhmoHVSnJ13maiROFdse1YMiYEAIfkEBQcAAwAsDgAHACUACQAAB2OAA4KCBYOGh4iIETBRAI6PIIYNiZSHKWxymVUCkIcmlaAHbpmkcQCVQ6CUUqStKaeJR6qJcK2kdI6zugNltplOjh6IN7uGJr5vB44YngTFgwKYrRuPwR4dAwLPklNzbV4sj4EAIfkEBQcACgAsCwAHACcACQAAB2qAAIKDBAEACoiJiouMiQ4qBYSCLiw/LCsHho2bjF6KhpM9lpY3D4KcnAmMXaGjozECh6izihMFM5Wul5G0vQodBDY8uruyvqhcARVAxDgWxscbjQatrwOnx4mem8EZLUApkdDZClKJPIKBACH5BAUHAAoALAQABwASAAkAAAdCgACCCwEWhoOIiQMRKTQxFQYCioiMMi8fMJAEk5sQKpegjIWTEzqhNhcIo4qlpxSqnBWZroSxpi4zr5KcnTWei5yBACH5BAUHAAYALAAABwAQAAkAAAMRCLrc/rCIEIe9tOKpd/dfqCUAIfkEBRUAAQAsAAAIAAcACAAAAgaEj6nL7VAAIfkEBQcABQAsGwAHAAoACQAABzSAAIICDAODgyxSX1UeDYiLkEoIABJUkJBDADeXkZqci0eUU58ogkBVlxoEgzobVkpLqwCBACH5BAUHAAMALBMABwARAAkAAAdPgACCgwIEhoSIhTJBRx08RBSFiRQvTBoimI8VkoQ4GU4bmKFLMAqTS42iji8RAYgwqCOqQS4Mpz2hmUAxCJMqQ6mrrYmuOShPLSc2Bq6EgQAh+QQFBwAJACwHAAcAGgAJAAAHWIAAgoMBhYaEiImDFTNZRC44FAiHiomMK0A+mTaSlJWCEUVQJySaNzoYDAWfiJIfGUymkBEDrIuusLI1tJ6VDrs3pUMoKhANBLa3W4+lLym8ycqczwer0YEAIfkEBQcACwAsAAAHABYACQAABS4gIAbkaJ5oVF3HIJTpqWJ048bpVKsFjM+7xA03WgV7xOIRmUQ4jKxh0/V0+oghACH5BAUVAAEALAAABwAKAAkAAAIIhI+py+0PYQEAIfkEBQcABQAsJgAHAAwACQAAB0qAAIIEYhQGAYODN1R1bnpXN4iCGV98bZd+ZxmIFx54l6B4SodhYI2gbXZUOQAwSnqoqVMYrSV9sWUbA5NYp7IwiRgaZndmHhWDgQAh+QQFBwAHACwZAAcAGAAJAAAHboAAgoMEhYYBhImJMUMcGyNII0JANQWKimEkHUpVaWlUSkdLOFGXgxIoIY9dZWZnWCYsRBGmgikZPyJSnmhdU1pOJxKIpkW4kLy+kjfDtRWpHlhnvWOwPB8NxMXHVGevyxBqtacgQSFcTsFQtOOBACH5BAUHAAMALAkABwAgAAkAAAdtgACCgwKFhoSIiYoFFWEZPi1PJDczEQSLmIONQCElGyYckZUFmZg2KEwcHkqsPUsfEwYBpYkRMDc8R59gHkJBKzgNh7SCtriqvL2/KQzDxGIpK0FOq0jKsLLPiConLLrXNs3atS6UqDQS2eMAgQAh+QQFBwALACwAAAcAGQAJAAAHUIAAAYNNhIKHiImIDDk6ICoSCQSKlIg1MjcnmRAHk5WKFTErmqQURoafghA0KKStoQKplpCuMRUKsbKqW0S1EQOoshispQa5urtFMxO/x8iBACH5BAUHAAIALAAABwALAAkAAAIJhI+py+3xolwFACH5BAUHAAEALAAACQABAAUAAAIChF0AOw==");
    background-repeat: no-repeat;
    height: 20px !important;
    width: 64px !important;
}

#feedbackButton {
    display: none;
}

/*Adjusted margin for bullet points in adaptive cards*/
ul {
    margin-left: 10px !important;
}

li {
    margin-left: 15px !important;
}

/*Mobile change stop header*/
@media screen and (max-width:500px) {
    .header h1 {
        display: none;
    }

    .header h2 {
        display: none;
    }

    #provideFeedbackButton {
        display: none;
    }

    #feedbackButton {
        display: inline-block;
    }

    .header .button {
        margin-top: 5px !important;
    }

    .wc-chatview-panel {
        top: 80px !important;
    }

    #header {
        height: 80px !important;
    }
}
